
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite1" verbose="1">
  <test name="Regression1">
    <groups>
      <run>
        <include name="API Tests"/>
      </run>
    </groups>
    <classes>
      <!-- Add your test classes here -->
      <class name="qtriptest.APITests.testCase_API_01"/>
       <class name="qtriptest.APITests.testCase_API_02"/>
        <class name="qtriptest.APITests.testCase_API_03"/>
         <class name="qtriptest.APITests.testCase_API_04"/>

    </classes>
  </test>
</suite>
